*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header section */
#main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    gap: 30px;
}

.container::before {
    content: '';
    background: url('./istockphoto-1610418898-2048x2048.jpg') no-repeat center center/cover;
    position: absolute;
    opacity: 0.35;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.text{
    font-size: 17px;
    margin: 2px;
    opacity: 0.7;
}

.dropbtn{
    cursor: pointer;
    border: none;
    background-color: white;
    font-size: 16px;
}

.dropdowncontent{
    display: none;
    position: absolute;
    top: 134px;
    /* background-color: #f1f1f1; */
    z-index: 1;
    background: white;
}

.dropdowncontent1{
    display: none;
    position: absolute;
    top: 134px;
    /* background-color: #f1f1f1; */
    z-index: 1;
    background: white;
}

.dropdowncontent1 a{
    color: black;
    text-decoration: none;
    padding: 8px 10px;
    display: block;
    /* border-bottom: 1px solid black; */
}

.warner{
    height: 204px;
    overflow-y: scroll;
}

.warner div{
    color: black;
    padding: 8px 10px;
    display: block;
    cursor: pointer;
}

.warner div:hover{
    background-color: #ddd;
}

.dropdowncontent a:hover{
    background-color: #ddd;
}

.show{
    display:block;
}

#places{
    padding: 20px;
    width: 250px;
    border-right: 1px solid black;
}

#timeline{
    padding: 20px;
    width: 250px;
    border-right: 1px solid black;
}

#selectdate{
    padding: 20px;
    width: 250px;
    border-right: 1px solid black;
}

#first{
    display: flex;
    align-items: center;
    justify-content: center;
}

#date{
    font-size: 50px;
    margin: 10px;
}


#dateobj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 60px;
}

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid black;
}

#icon i{
    margin: 10px;
}

#gobtn{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#in{
    border-radius: 7px;
    height: 40px;
    width: 72px;
    padding: 10px;
    cursor: pointer;
    background-color: #f67071;
    color: white;
    border: none;
}

#in:hover{
    background-color: white;
    color: #f67071;
}


#weather{
    display: flex;
    /* width: 300px; */
    margin: 10px;
    justify-content: center;
    align-items: center;
}


#status{
    margin: 8px;
}


#temp{
    margin: 5px;
    font-size: 28px;
    font-weight: bold;
}


#inside{
    margin: 10px;
}


/* Card Template */
.card{
    width: 466px;
    height: 500px;
    padding: 15px;
    margin: 22px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0px 0px 18px 8px #888888;
}


#cityname{
    font-weight: bold;
    font-size: 18px;
    margin: 8px;
}

#tourdate{
    margin: 8px;
}

#category{
    margin: 8px;
    opacity: 0.7;
}

#avgtemp{
    margin: 30px 8px 8px;
}

#intemp{
    margin: 8px;
    font-size: 25px;
    font-weight: bold;
}

img{
   height: 100%;
   width: 100%;
   opacity: 0.8;
}

#price{
    margin: 8px;
    opacity: 0.7;
}

#flexs{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* .flex{
    flex-direction: row;

} */

#inprice{
    margin: -9px 8px;
    font-size: 20px;
    font-weight: bold;
}

#explore{
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid;
    margin: -30px 8px 8px 8px;
    cursor: pointer;
    background-color: white;
}

#explore:hover{
    background-color: #888888;
}

#container2{
    width: 1532px;
    display: flex;
    flex-wrap: wrap;
}

#city{
    font-weight: bold;
    font-size: 20px;
}

#nation{
    font-size: 20px;
    opacity: 0.7;
}

/* @media (max-width : 1650px){
    header{
        width: 1332px;
    }

    #container2{
        width: 1350px;
    }

    .card{
        width: 406px;
    }

    img{
        width: 359px;
    }
}


@media (max-width : 1400px){
    .dropdowncontent{
        top: 220px;
    }
    .dropdowncontent1{
        top: 220px;
    }
    header{
        width: 1150px;
        flex-wrap: wrap;
    }

    #container2{
        width: 1000px;
    }

    .card{
        margin: 26px auto;
    }

    .container{
        order: 3;
    }

    #dateobj{
        width: 200px;
    }
}


@media (max-width : 1150px){
    header{
        width: 950px;
    }
}

@media (max-width : 1000px){
    .container{
        flex-wrap: wrap;
        flex-direction: column;
        width: 406px;
    }

    header{
        flex-wrap: wrap;
        flex-direction: column;
    }

    #timeline{
        width: 406px;
        border: none;
        text-align: center;
        margin: auto;
        border-bottom: 1px solid black;
    }

    #places{
        width: 406px;
        border: none;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid black;
    }

    #selectdate{
        width: 406px;
        border: none;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid black;
    }

    #icon{
        width: 406px;
        border: none;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .text{
        font-size: 20px;
    }

    .dropbtn{
        font-size: 23px;
    }

    #inp{
        font-size: 22px;
    }

    .card{
        width: 504px;
        flex-direction: column;
        flex-wrap: wrap;
        height: 541px;
    }

    img{
        width: 454px;
        height: 240px;
    }

    #temp{
        font-size: 40px;
    }

    #weather{
        width: 406px;
    }

    #city{
        font-size: 30px;
    }

    #nation{
        font-size: 30px;
    }

    #dateobj{
        width: 200px;
    }

    #day{
        font-size: 30px;
    }

    #my{
        font-size: 30px;
    }

    .dropdowncontent1{
        top: 435px;
        right: 305px;
    }

    .dropdowncontent{
        top: 336px;
        right: 305px;
    }
}


@media(max-width : 635px){

    .dropdowncontent{
        right: 220px;  
    }

    .dropdowncontent1{
        right: 220px;  
    }

    header{
        width: 468px;
    }

    #container2{
        width: 450px;
    }

    .card{
        width: 400px;
    }

    img{
        width: 351px;
    }
}


@media(max-width: 500px){

    header{
        width: 351px;
    }

    #first{
        width: 227px;
    }

    #weather{
        width: 254px;
        margin: auto;
    }

    #nation{
        font-size: 25px;
    }

    #city{
        font-size: 25px;
    }

    #places{
        width: 300px;
        margin: initial;
    }

    #timeline{
        width: 300px;
        margin: initial;
    }

    #selectdate{
        width: 300px;
        margin: initial;
    }

    #icon{
        width: 300px;
        margin: initial;
    }

    .container{
        width: 300px;
    }

    #container2{
        width: 300px;
    }

    .card{
        width: 300px;
    }

    img{
        width: 258px;
    }

    #day{
        font-size: 25px;
    }

    #my{
        font-size: 25px;
    }

    .dropdowncontent{
        top: 294px;
        right: 100px;
    }

    .dropdowncontent1{
        /* top: 394px; */
        right: 100px;
        top: 393px;
    }
} */